.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-pagination{
  margin: 10px;
}
.item-pagination a{
  color: blue
}
.pagination button{
  margin: 10px;
}
.number{
  font-size: 18px;
}
.active{
  padding: 5px;
  color: black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.foc-page{
  margin: 10px;
}
.table-one{
  width: 600px;
  height: 400px;
}
.table-one th:first-child,
.table-one th:nth-child(2){
  width: 20%;
}

.filt{
  display: flex; 
  margin: 10px;
}
.filt .search{
  margin: 0 0 0 20px;
}